@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: red;
  /* scrollbar-color: var(--secondary) var(--primary); */
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  cursor: url('/logo/cursor.svg'), default;
  width: 15px;
}

*::-webkit-scrollbar-track {
  cursor: url('/logo/cursor.svg'), default;
  background: white;
  border-radius: 0;
  /* background: var(--primary); */
  /* border-radius: 5px; */
}

video::-webkit-media-controls {
  opacity: 0%;
}

*::-webkit-scrollbar-thumb {
  cursor: url('/logo/cursor.svg'), default;
  background-color: red;
  /* background-color: var(--secondary); */
  border-radius: 0;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  scroll-behavior: smooth!;
  /* cursor: url('/logo/cursor.svg'), default; */
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
    transparent,
    rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));

}

*,
*:before,
*:after {
  @apply cursor-default;
  /* @apply cursor-auto; */
}